@font-face {
    font-family: "SanFranciscoDisplay-Light";
    src: url("../../FONTS/SanFranciscoDisplay-Light.otf") ;
}

@font-face {
    font-family: "SanFranciscoDisplay-Semibold";
    src: url("../../FONTS/SanFranciscoDisplay-Semibold.otf") ;
}
@font-face {
    font-family: "SanFranciscoDisplay-Regular";
    src: url("../../FONTS/SanFranciscoDisplay-Regular.otf") ;
}
@media screen and (min-width: 1px) and (max-width: 992px) {
  #mainModalContainer { display: none; }   /* hide it elsewhere */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
/*    z-index: 1;  Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */ /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #D3D3D3;
    margin: 5% auto;
    border: none;
    width:50%; /* Could be more or less, depending on screen size */
    overflow: auto;
    box-shadow: none;
}
ul.customList{
  margin: 15px 0;
  color: #231F20;
  font-family: "SanFranciscoDisplay-Regular";
  font-size: 16px;
  margin-left: 19px;

}
.modal-secondSection{
align: center;

}
h3.off-season-peace-of-mind {

  color: #722C36;
  font-family: Optima;
  font-size: 22.51px;
  font-weight: bold;
  line-height: 0;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 25px;
}
h5.signup-text {
  padding-bottom: 10px;
  color: #3B312F;
  font-family: "SanFranciscoDisplay-Regular";
  font-size: 16px;
  line-height: 0;
  text-align: center;
}
/*.modal-header{
  margin-left: 66px ;
  margin-top: 0px;

}*/
p.modal-header-popup {
  color: #722C36;
  font-family: "SanFranciscoDisplay-Regular";
  font-size: 21px;
  letter-spacing: 0.08em;
  line-height: 0;
  padding: 5px;
}
h3{
  font-family: myFirstFont;
}
.first-color-box{
  overflow: hidden;
background-color: #FFFFFF;
padding-bottom: 40px
}
.modal-content-second-row{
  width: 100%;
}

.modal-content-sr-first-column{
  font-family: SanFranciscoDisplay-Light;
  color: #231F20;
  float: left;
  margin-left: 40px;
}

.modal-content-sr-second-column{
  float: right;
  margin-right: 50px;
}

.modal-content-third-row{
  color: #722C36;
  float: left;
  margin-left: 66px;
}

.modal-content-image{
  margin-top:4%!important;
  margin-left: -40%;
}

.modal-content-tr-body-text{
  color: #231F20;
  font-family: SanFranciscoDisplay-Light;
  font-stretch: expanded;
}
h3{
  font-family: SanFranciscoDisplay-Semibold;
  font-stretch: expanded;
  text-align: center;
}

h2{
    font-family: SanFranciscoDisplay-Semibold;
    color: #722C36;
    font-weight: normal;
    font-stretch: expanded;
}
.modal-content-fourth-row{
  float: left;
 margin-left: 180px;
}


#user-email {

  color: #040404;
  font-family: "SanFranciscoDisplay-Regular";
  font-size: 15.75px;
  letter-spacing: 2px;
  line-height: 16px;
  background-color: white;
}
.submit-button{
  margin-top: 20px;
  margin-left: 40px;

}

.modal-content-tr-body-text{
  font-weight: bold;
}
/*#submit-subscription{
  margin-left: 20px;
}*/

#submit-subscription.button {
    border-radius: 8px;
    border-color: #722C36;
    background: #722C36;
    width: 120px;
    height: 30px;
    color: white;
    text-align: center;
    font-family:  SanFranciscoDisplay-Light;
    color: #FFFFFF;
  font-family: "SanFranciscoDisplay-Regular";
  font-size: 12.68px;
  letter-spacing: 1px;
  line-height: 0;
}


/* The Close Button */
.closeButton {
    color: #722C36;
    float: right;
    margin-right: 2%;
    margin-top:  2%
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 1200px){
/*First Section begins*/

    #myModal2 {
  display: none!important;

}
